@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;600&family=Roboto:wght@300;400&display=swap');

$font-display: 'Jost', sans-serif;
$font-utility: 'Roboto', sans-serif;

$bittersweet-pink: #e58181;
$floral-white: #f9f5f0ff;
$heliotrope-gray: #6c6a7c;
$black-coffee: #2b2a33;
$black-coffee-dark: #232229;



* {
  margin: 0;
  padding: 0;
  background-color: $black-coffee-dark;
  font-family: $font-display;
  font-weight: 500;

}

