@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;600&family=Roboto:wght@300;400&display=swap');

$font-display: 'Jost', sans-serif;
$font-utility: 'Roboto', sans-serif;

$bittersweet-pink: #ec695bff;
$floral-white: #f9f5f0ff;
$heliotrope-gray: rgb(94, 85, 92);
$black-coffee: rgb(44, 41, 43);
$black-coffee-dark: rgb(26, 24, 26);



* {
  margin: 0;
  padding: 0;
  background-color: $black-coffee-dark;
  font-family: $font-display;
  font-weight: 500;

}

